<html>
<title>
Fit birds
</title>
<head>
<link rel="stylesheet" href="css/first2.css">
<script type="text/javascript" src="script/javascript.js"></script>
</head>
 <body>
  <nav>
  <ul class="top" id="drop">
<li><a  href="/" >HOME</a></li>
<li><a   href="#" >ABOUT</a></li>
<li><a  href="/dash" >RESOURCES</a></li>
<li><a  href="#" >CARRERS</a></li>
<li><a  href="#" >CONTACT US</a></li>
<li class="right"><a href="/login" >LOG IN</a>  </li>  
<li class="right"> <a href="/signup" >SIGN UP</a></li>
<li class="dropdown"><a href="#" onclick="drop()">&#9776</a></li>
</ul>
</nav>