<%-include('partials/head.ejs')%>
   <div class="tophod">
  <div class="col11 hoard"> </div> <div class="col15 hoard"><p id="formfeed"> </p> </div>
 </div>
 <div> <h3 align="center">Food Available in Catalog</h3> </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Cod </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/cod.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
      <h2> Food Name : Cottage Cheese </h2>
      </div>
 <div class="col5">
     <image class='food' src='/images/cottage-cheese.jpg' alt="fooditem"/> 
 </div>
 <div class="col3">
  <div> <h2> Nutriton composition</h2></div>
  <div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>
 </div>

 </div>
 </div>
 <div class="row">
 <div class="col3">
    <h2> Food Name : Eggs</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/eggs.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>

 <div class="row">
 <div class="col3">
     <h2> Food Name :Soup Broth </h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/soup-broth.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div><div class="row">
 <div class="col3">
     <h2> Food Name : Vegetable-soup</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/vegetable-soup.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
 </ol>

 </div>
 </div>
 <div class="row">
 <div class="col3">
     <h2> Food Name : Watercress</h2>
     </div>
 <div class="col5">
     <image class='food' src="/images/watercress.jpg" alt="fooditem"/> 
 </div>
 <div class="col3">
 <div> <h2> Nutriton composition</h2></div>
  <ol>
   <li>   Energy :692 kcal </li> 
   <li> Carbs: 12 </li> 
   <li> protein: 12 </li> 
   <li> fats: 12 </li> 
   <li> trans-fat: 12 </li> 
   <li> calcium: 12 </li> 
   <li> iron: 12 </li>    
  </ol>

 </div>
 </div>
 </div>
 <div >
 <h3 align ="center"> User Added Items</h3>
 </div>
  <div class="append" id="appen">
      
  </div>
  <div>
 <button onclick="itemsadd()" id="formbutton" style="margin: 0 0px 0 608px;">
   Add more 
   </button>
    <div id="newadd"></div>

    </div>
   <%-include('partials/footer.ejs')%>
   </html>